body {
    margin: auto;
    width: 90%;
    text-align: center;
}

body {
    background-color: green;
}


h1 {
    color : black;
}

h2 {
    color : black;
}

h3 {
    color : yellow;
}

item  {
    float: left;
    width: 200px;
    text-align: center;
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
}